body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url("./images/background.jpg");
}

body h1 {
  font-size: 50px;
}

body a {
  text-decoration: none;
  font-weight: bold;
  color: cornflowerblue;
}

.mobile-container {
  max-width: 100%;
  margin: auto;
  height: 500px;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
}

.topnav a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.icon {
  position: relative;
}

.topnav a.icon i {
  color: white;
  font-size: 10px;
}

#myLinks {
  display: none;
  position: absolute;
  top: 56px;
  right: 0;
  background-color: #333;
  z-index: 1;
}

#myLinks a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 17px;
}

#myLinks a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  padding: 16px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}
